In [1]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in
#“Bangalore” location. You have to scrape the job-title, job-location, company_name,
#experience_required. You have to scrape first 10 jobs data.

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\documents\python practice\venv\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hp\documents\python practice\venv\lib\site-packages (from selenium) (1.26.6)

In [3]:
import time
import selenium
import pandas as pd
from selenium import webdriver

In [4]:
driver=webdriver.Chrome("chromedriver.exe")

In [5]:
url='https://naukri.com'
driver.get(url)
time.sleep(3)

In [6]:
search_job=driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]')
search_job.clear()
search_job.send_keys('data analyst')
time.sleep(1)

location = driver.find_element_by_xpath('//*[@id="qsb-location-sugg"]')
location.clear()
location.send_keys("bangalore")
time.sleep(1)

search_btn=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn.click()
time.sleep(1)

In [7]:

titles_job = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_job
titles_location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
titles_location
titles_company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
titles_company
titles_experience=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
titles_experience 

print(titles_job[0].text)
print(len(titles_job))


job_titles=[]
job_location=[]
company_name=[]
experience_req=[]
for i in range(10):
    
    job_titles.append(titles_job[i].text)
    job_location.append(titles_location[i].text)
    company_name.append(titles_company[i].text)
    experience_req.append(titles_experience[i].text)
job_titles
job_location                                             
company_name
experience_req

Senior Data Analyst - Einstein Analytics
20

['3-5 Yrs',
 '0-2 Yrs',
 '0-3 Yrs',
 '4-8 Yrs',
 '10-16 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '7-8 Yrs',
 '1-3 Yrs']

In [8]:
import pandas as pd
data=pd.DataFrame({})
data['titles_job']=job_titles
data['titles_location']=job_location
data['titles_company']=company_name
data['titles_experience']=experience_req
data

,titles_job,titles_location,titles_company,titles_experience
0,Senior Data Analyst - Einstein Analytics,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Enquero,3-5 Yrs
1,Data Analyst - 0-2 years (6 month contract),"New Delhi, Gurgaon/Gurugram, Chennai, Bangalor...",NIUM INDIA PRIVATE LIMITED,0-2 Yrs
2,Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),CAREERLABS TECHNOLOGIES PRIVATE LIMITED,0-3 Yrs
3,Data Analyst,"Pune, Chennai, Bangalore/Bengaluru",Tata Consultancy Services Ltd.,4-8 Yrs
4,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Nx-DT,10-16 Yrs
5,SQL Data Analyst,Bangalore/Bengaluru,NetApp,3-7 Yrs
6,Senior Business Analyst- Data Science,Bangalore/Bengaluru(Whitefield),Evalueserve.com Pvt. Ltd,2-7 Yrs
7,Business/Data Analyst - Colleague Experience &...,Bangalore/Bengaluru,Vmware,3-8 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Telstra India Pvt Ltd,7-8 Yrs
9,Data Analyst (SQL+Predictive Analytics+ Python),Bangalore/Bengaluru,AVE-Promagne,1-3 Yrs

In [9]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in
#“Bangalore” location. You have to scrape the job-title, job-location,
#company_name, full job-description. You have to scrape first 10 jobs data

In [10]:
driver=webdriver.Chrome("chromedriver.exe")
url='https://naukri.com'
driver.get(url)
time.sleep(3)

search_job=driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]')
search_job.send_keys("Data Scientist")
time.sleep(1)
search_location=driver.find_element_by_xpath('//*[@id="qsb-location-sugg"]')
search_location.send_keys("bangalore")
time.sleep(1)
search_btn=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn.click()
time.sleep(1)

In [11]:
titles_jobs=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
titles_jobs
time.sleep(1)
titles_location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
titles_location
time.sleep(1)
titles_name=driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]')
titles_name
time.sleep(1)

In [12]:
urls=[]
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    urls.append(i.get_attribute("href"))
urls

['https://www.naukri.com/job-listings-data-scientist-senior-business-analyst-lead-analyst-evalueserve-com-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-2-to-7-years-110821005065?src=jobsearchDesk&sid=16287716716369280&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-retail-industry-ibm-india-pvt-limited-bangalore-bengaluru-7-to-10-years-100821908363?src=jobsearchDesk&sid=16287716716369280&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-superior-group-bangalore-bengaluru-6-to-11-years-100821500375?src=jobsearchDesk&sid=16287716716369280&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-110821906281?src=jobsearchDesk&sid=16287716716369280&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-smiths-detection-systems-private-limited-bangalore-bengaluru-8-to-10-years-260721903257?src=jobsearchDesk&sid=16287716716369280&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-cognizer-india-private-limited-bangalore-bengaluru-5-to-10-years-100821001616?src=jobsearchDesk&sid=16287716716369280&xp=6&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-zycus-infotech-pvt-ltd-bangalore-bengaluru-14-to-16-years-100821906533?src=jobsearchDesk&sid=16287716716369280&xp=7&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-transorg-solutions-services-p-ltd-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-4-to-6-years-160721005471?src=jobsearchDesk&sid=16287716716369280&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-tech-lead-data-science-confidential-bangalore-bengaluru-delhi-ncr-6-to-9-years-100821906281?src=jobsearchDesk&sid=16287716716369280&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kpo-talentco-search-pvt-ltd-mumbai-bangalore-bengaluru-delhi-ncr-6-to-10-years-110821908145?src=jobsearchDesk&sid=16287716716369280&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-cignex-datamatics-technologies-limited-bangalore-bengaluru-7-to-12-years-120821005670?src=jobsearchDesk&sid=16287716716369280&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-natural-language-processing-hyderabad-location-clifford-chance-business-services-private-limited-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-5-to-10-years-120821000435?src=jobsearchDesk&sid=16287716716369280&xp=12&px=1',
 'https://www.naukri.com/job-listings-looking-for-data-scientist-for-chennai-location-intelizign-engineering-services-pvt-ltd-hyderabad-secunderabad-chennai-bangalore-bengaluru-3-to-7-years-110821004891?src=jobsearchDesk&sid=16287716716369280&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-120821005878?src=jobsearchDesk&sid=16287716716369280&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-cognizant-technology-solutions-india-pvt-ltd-chennai-bangalore-bengaluru-10-to-12-years-090821904407?src=jobsearchDesk&sid=16287716716369280&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-artificial-intelligence-ibm-india-pvt-limited-bangalore-bengaluru-4-to-6-years-110821906941?src=jobsearchDesk&sid=16287716716369280&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-4-to-8-years-110821906897?src=jobsearchDesk&sid=16287716716369280&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-artificial-intelligence-ibm-india-pvt-limited-bangalore-bengaluru-4-to-8-years-110821906005?src=jobsearchDesk&sid=16287716716369280&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-190521008276?src=jobsearchDesk&sid=16287716716369280&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-artificial-intelligence-ibm-india-pvt-limited-bangalore-bengaluru-4-to-8-years-110821906380?src=jobsearchDesk&sid=16287716716369280&xp=20&px=1']

In [13]:
job_description=[]

In [14]:
for i in urls[:10]:
    driver.get(i)
    time.sleep(1)
    
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_desc.text)
    except:
        job_description.append('-')

In [15]:
job_description

['Job description\nJob Description\nUnderstand and design analytical solutions to business problems leveraging data science\nUnderstand and get requirements from Stakeholders\nPropose and execute solutions and present deliverables to stakeholders\nManage and optimize deliverables\nMentor and train new team members\nDevelop POCs to enhance the teams capability\n\nRequirements\nUnderstanding of mathematical, statistical, and theoretical foundations of statistics and machine learning (ML) and parametric and non-parametric models\nKnowledge of advanced data mining techniques, curating, processing, and transforming data to produce datasets\nUse statistical techniques and ML methods for predictive modeling / classification of problems around clients, distribution, sales, marketing, client profiles, and segmentation\nProvide relevant and actionable recommendations / insights for businesses\nUnderstanding of ML lifecycle that includes feature engineering, training, validation, scaling, deployment, scoring, monitoring, and feedback loop\nExpertise in SAS Visual Analytics, Tableau, and Python\nExpert in Python / R / SAS\nExperience with cloud computing infrastructure, such as AWS / Azure / GCP\nAble to develop, test, and deploy models on cloud / web\n\nEducation and Experience\nBE / B.Tech. / MBA / M.Stat. / M.SC. or equivalent degree in Quant. from a reputed institute\n2-8 years of relevant experience\n\nRoleBusiness Analyst\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Any Specialization\nKey Skills\nPredictive ModelingData ScienceRMarketing Mix ModelingData MiningMarketing AnalyticsMachine LearningPythonSales Analytics',
 '-',
 'Job description\nProvide advanced analytical capabilities to support data science initiatives\nSolves highly complex problems that do not yet have solutions in the research and span much of the Data Science portfolio\nInfluences the thought process and methodology for other team members\nJob Requirements\nSkill seet required:\n6+ years of experience in analytics AND 2 years of programming experience (Python, Java, Scala, Rust, etc.)\n3 years of experience performing predictive analytics at a large scale enterprise\n3 years of experience in data science or advanced analytics in industry\nSQL Experience\nExperience using multiple data systems and sources (such as Hadoop, Spark, Aster, Teradata, etc.)\nRoleTeam Lead/Technical Lead\nIndustry TypeRecruitment / Staffing\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :Any Postgraduate\nKey Skills\nadvanced analyticsdata scienceAnalyticalSCALALeadTeradataPredictive analyticsLead managementSQLPython',
 '-',
 '-',
 'Job description\n\nRoles and Responsibilities\nStrong in problem solving, algorithms and data structures\nProficient in Python\nHands on experience in technologies and tools related NLP, Deep learning, Machine learning\nExperience on Conversational AI is a plus\nAble to train and deploy models. Hands on experience on multi gpu/ tpu training\nBroad knowledge of machine learning algorithms and principles\nPerformance profiling and Tuning\nCommunicate and propose solutions to business challenges\nFamiliarity with at least one of the cloud computing infrastructure - GCP/AWS\nKeep abreast with the latest technological advances\nTeam mentoring and leadership skills\n\nDesired Candidate Profile\n\nNo. of opening: 01\nExperience Required : 05 years and above\nEducational Qualification: B.E/ B.Tech from Top Tier institutes ( IIT, BITS and NITs)\nExperience with Product company\nMust be interested to work in a fast pace startup culture\n\nPerks and Benefits\nMedical coverage for Self and Family\nProvident Fund\nStock Options\nLearning Program\n\nRoleR&D Executive\nIndustry TypeIT Services & Consulting\nFunctional AreaEngineering Design, R&D\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :B.Tech/B.E. in Computers\nKey Skills\nNLPDeep LearningPython\nAlgorithmsCloud ComputingGCPArtificial IntelligenceData StructuresNatural Language ProcessingMachine LearningAWS\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nZycus is looking for applicants with a strong background in Analytics and Data mining (Web, Social and Big data), Machine Learning, Pattern Recognition, Natural Language Processing, Computational Linguistics, Statistical Modelling, Inferencing, Information Retrieval, Large Scale Distributed Systems, Cloud Computing, Econometrics, Quantitative Marketing, Applied Game Theory, Mechanism Design, Operations Research, Optimization, Human Computer Interaction and Information Visualization. Applicants with a background in other quantitative areas are also encouraged to apply.\n\nWe are looking for someone who can create and implement AI solutions. If you have built a product like IBM WATSON in the past and not just used WATSON to build applications, this could be the perfect role for you.\n\nAll successful candidates are expected to dive deep into problem areas of Zycus interest and invent technology solutions to not only advance the current products, but also to generate new product options that can strategically advantage the organization.\n\nRoles & Responsibilities:\nAct as a technical thought leader in collaboration with the analytics leadership team, helping to set the strategy and standards for Machine Learning and advanced analytics\nWork with senior leaders from all functions to explore opportunities for using advance analytics\nProvide technical leadership, coaching, and mentoring to talented data scientists and analytics professionals\nGuide data scientists in the use of advanced statistical, machine learning, and artificial intelligence methodologies\nGuide the work of other Machine learning team members to provide support and assistance, while also ensuring quality\n\nRequirements\n\nSkills:\nExperience in predictive modelling and predictive software development\nSkilled at Java, C++, Perl/Python (or similar scripting languages)\nExperience in using R, Matlab, or any other statistical software\nExperience in mentoring junior team members, and guiding them on machine learning and data modelling applications\nStrong communication and data presentation skills\nClassification (svm, decision tree, random forest, neural network)\nRegression (linear, polynomial, logistic, etc)\nClassical Optimization(gradient descent, newton raphson, etc)\nGraph theory (network analytics)\nHeuristic Optimisation (genetic algorithm, swarm theory)\nDeep learning (lstm, convolutional nn, recurrent nn)\n\nMust Have:\nTotal experience: 14+ years\nThe ideal candidate must have proven expertise in Artificial Intelligence (including deep learning algorithms), Machine Learning and/or NLP\nThe candidate must also have expertise in programming traditional machine learning algorithms, algorithm design & usage\nProgramming expertise on Python or R\nPreferred experience with large data sets & distributed computing in Hadoop ecosystem\nStrong problem-solving skills\nFluency with databases\n\nBenefits\nFive Reasons Why You Should Join Zycus\nCloud Product Company: We are a Cloud SaaS Company and our products are created by using the latest technologies like ML and AI. Our UI is in Angular JS and we are developing our mobile apps using React.\nA Market Leader: Zycus is recognized by Gartner (worlds leading market research analyst) as a Leader in Procurement Software Suites.\nMove between Roles: We believe that change leads to growth and therefore we allow our employees to shift careers and move to different roles and functions within the organization\nGet a Global Exposure: You get to work and deal with our global customers.\nCreate an Impact: Zycus gives you the environment to create an impact on the product and transform your ideas into reality. Even our junior engineers get the opportunity to work on different product features.\nRoleAnalytics Manager\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nRAlgorithmsNLPAlgorithm DesignData ScientistArtificial IntelligenceMachine LearningPythonRandom Forest',
 "Job description\nRoles and Responsibilities\n\nWell-versed in quantitative analysis, data mining, trend analysis, customer profiling, clustering and predictive modelling.\nExecuting the data-driven planning process by building models and frameworks that connect business unit drivers to company financials and forecast to take the correct decision as per the business need.\nShould be able to handle assigned tasks in the capacity of individual contributor.\nDemonstrate excellent teamwork.\nCollaborate with other data analysts to provide development coverage, support, and Knowledge sharing and mentoring of junior team members.\n\n\n\nDesired Candidate Profile\n\nBachelor's in Computer Science, Engineering, Statistics, Maths or related quantitative degree preferably from IIT, NIT, DTU and NSIT.\n4-6 years of relevant experience in data science.\nProblem solver who is passionate to deep dive into data and generate insights\nExperience of data pre-processing and data manipulation using R, Python or SQL\nShould have some experience in statistical techniques like linear regression, logistic regression, clustering etc.\nFamiliarity with Machine Learning and AI techniques is a plus\nTrack record of managing data project delivery including ability to meet deadlines, overcome challenges, manage stakeholder expectations, and produce clear deliverables\nExcellent critical thinker with a strong verbal and written communications skills.\nAbility and desire to work in a proactive, highly engaging, high-pressure, client service environment.\nUnderstanding of Cloud Platforms (e.g. Azure / AWS) and ability to use them for developing, training and testing deep learning models\n\n\n\n\n\nRoleAnalytics Manager\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization, BCA in Any Specialization\nPG :M.Tech in Any Specialization, MCA in Any Specialization, MS/M.Sc(Science) in Any Specialization\nKey Skills\nRPythonSQL\nData ScienceData ManipulationArtificial IntelligenceLinear RegressionMachine LearningStatisticsDeep Learning\nSkills highlighted with ‘‘ are preferred keyskills",
 'Job description\nResponsibilities -\nLead a team of data scientists, machine learning engineers and big data specialists\nBe the main point of contact for the customers\nLead data mining and collection procedures\nEnsure data quality and integrity\nInterpret and analyze data problems\nConceive, plan and prioritize data projects\nBuild analytic systems and predictive models\nTest performance of data-driven products\nVisualize data and create reports\nExperiment with new models and techniques\nAlign data projects with organizational goals\nRequirements -\nVery strong in statistics fundamentals. Not all data is Big Data. The candidate should be able to derive statistical insights from very few data points if required, using traditional statistical methods.\nEducation no bar, but preferably from a Statistics academic background (eg MSc-Stats, MSc-Econometrics etc), given the first point\nStrong expertise in Python (any other statistical languages/tools like R, SAS, SPSS etc are just optional, but Python is absolutely essential). If the person is very strong in Python, but has almost nil knowledge in the other statistical tools, he/she will still be considered a good candidate for this role.\nProven experience as a Data Scientist or similar role, for about 7-8 years\nSolid understanding of machine learning and AI concepts, especially wrt choice of apt candidate algorithms for a use case, and model evaluation.\nGood expertise in writing SQL queries (should not be dependent upon anyone else for pulling in data, joining them, data wrangling etc)\nKnowledge of data management and visualization techniques - more from a Data Science perspective.\nShould be able to grasp business problems, ask the right questions to better understand the problem breadthwise /depthwise, design apt solutions, and explain that to the business stakeholders.\nQualification\nAny Relevant Graudate ( BE/B Tech, MCA Prefer)\nRoleTeam Lead/Technical Lead\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization, B.A in Statistics, B.Sc in Statistics\nPG :M.A in Economics, Statistics, MCA in Any Specialization, MS/M.Sc(Science) in Statistics\nDoctorate :Doctorate Not Required\nKey Skills\nData ScienceData WranglingArtificial IntelligenceBig DataSQL QueriesData MiningMachine LearningStatisticsPython',
 'Job description\n- Ability to understand a problem statement and implement analytical solutions & techniques independently with independently/proactively/thought-leadership.\n\n- Work with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions.\n\n- Fast learner: ability to learn and pick up a new language/tool/ platform quickly.\n\n- Conceptualize, design, and deliver high-quality solutions and insightful analysis.\n\n- Conduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems.\n\n- Collaborate and Coordinate with different functional teams(engineering and product development) to implement models and monitor outcomes.\n\n- Ability to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation & Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization\n\nExperience Required:\n\n- Expert level proficiency in Python.\n\n- Ability to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms.\n\n- Experience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance.\n\n- Problem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes.\n\n- Intermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis.\n\n- We use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to go.\n\nGood to Have:\n\n- Experience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems\n\n- Experience of working in on one or more domains:\n\n- CPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management\n\n- BFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection\n\n- Healthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse\n\n- Experience in working with Linux computing environment and use of command line tools like sed/awk\n\n- Good grasp on databases including RDBMS, NoSQL, MongoDB etc.\nRoleData Analyst\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nDoctorate :Doctorate Not Required\nKey Skills\nData ScienceNLPData ScientistArtificial IntelligenceData ManagementStatistical ModelingMarketing AnalyticsMachine LearningAnalyticsSQL']

In [16]:
import pandas as pd
data=pd.DataFrame({})
data['titles_job']=job_titles
data['titles_location']=job_location
data['titles_name']=company_name
data['job_description']=job_description
data

,titles_job,titles_location,titles_name,job_description
0,Senior Data Analyst - Einstein Analytics,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Enquero,Job description\nJob Description\nUnderstand a...
1,Data Analyst - 0-2 years (6 month contract),"New Delhi, Gurgaon/Gurugram, Chennai, Bangalor...",NIUM INDIA PRIVATE LIMITED,-
2,Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),CAREERLABS TECHNOLOGIES PRIVATE LIMITED,Job description\nProvide advanced analytical c...
3,Data Analyst,"Pune, Chennai, Bangalore/Bengaluru",Tata Consultancy Services Ltd.,-
4,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Nx-DT,-
5,SQL Data Analyst,Bangalore/Bengaluru,NetApp,Job description\n\nRoles and Responsibilities\...
6,Senior Business Analyst- Data Science,Bangalore/Bengaluru(Whitefield),Evalueserve.com Pvt. Ltd,Job description\nZycus is looking for applican...
7,Business/Data Analyst - Colleague Experience &...,Bangalore/Bengaluru,Vmware,Job description\nRoles and Responsibilities\n\...
8,Senior Data Analyst,Bangalore/Bengaluru,Telstra India Pvt Ltd,Job description\nResponsibilities -\nLead a te...
9,Data Analyst (SQL+Predictive Analytics+ Python),Bangalore/Bengaluru,AVE-Promagne,Job description\n- Ability to understand a pro...

In [130]:
# Q3: In this question you have to scrape data using the filters available on the
# webpage as shown below:

driver=webdriver.Chrome("chromedriver.exe")
url='https://naukri.com'
driver.get(url)
time.sleep(3)

search_jobs=driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]')
search_jobs.send_keys('data scientist')
search_btn=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]')
search_btn.click()

In [131]:
location_filter=driver.find_element_by_xpath('//span[@title="Delhi / NCR"]')
location_filter.click()

In [132]:
salary_filter=driver.find_element_by_xpath('//span[@title="3-6 Lakhs"]')
salary_filter.click()

In [133]:

titles_job = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_job
titles_location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
titles_location
titles_company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
titles_company
titles_experience=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
titles_experience 

job_titles=[]
job_location=[]
company_name=[]
experience_req=[]
for i in range(10):
    
    job_titles.append(titles_job[i].text)
    job_location.append(titles_location[i].text)
    company_name.append(titles_company[i].text)
    experience_req.append(titles_experience[i].text)
job_titles
job_location                                             
company_name
experience_req

import pandas as pd
data=pd.DataFrame({})
data['titles_job']=job_titles
data['titles_location']=job_location
data['titles_company']=company_name
data['titles_experience']=experience_req
data

,titles_job,titles_location,titles_company,titles_experience
0,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
1,Data Scientist,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd,2-4 Yrs
2,Data Scientist,"Noida, Gurgaon/Gurugram, Delhi / NCR",Agreeya,3-6 Yrs
3,Data Scientist / Sr. Data Scientist,"Noida, Pune, Mumbai (All Areas)",WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
5,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Ahmedabad, Ba...",Experiture,5-7 Yrs
6,Senior Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs
7,Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,5-10 Yrs
8,Immediate Openings For DATA Scientist with 6 T...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Entune IT Consulting Private Limited,5-8 Yrs
9,Data Scientist,Gurgaon/Gurugram,Decimal Technologies Pvt Ltd.,1-3 Yrs

In [ ]:
#Q4: Write a python program to scrape data for first 10 job results for Data scientist
# Designation in Noida location. You have to scrape company_name, No. of days
# ago when job was posted, Rating of the company.
driver=webdriver.Chrome("chromedriver.exe")
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)    
time.sleep(3)

In [ ]:
# Q5:Write a python program to scrape the salary data for Data Scientist designation
# in Noida location.
driver=webdriver.Chrome("chromedriver.exe")
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)    
time.sleep(3)

In [87]:
# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
# scrape four attributes:

driver=webdriver.Chrome("chromedriver.exe")
url='https://www.flipkart.com/'
driver.get(url)
time.sleep(1)
search_prod=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_prod.send_keys('sunglasses')
time.sleep(1)
cross_btn=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
cross_btn.click()
time.sleep(1)
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()
time.sleep(1)

In [88]:
brand=[]
description=[]
pricetag=[]
discount=[]

for i in range(1,5,1):

    brand_prod=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    brand_prod
    prod_desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    prod_desc
    price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    price_tag
    discount_perc=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    discount_perc
    
    


    for i in range(len(discount_perc)):

        brand.append(brand_prod[i].text)
        try:
            description.append(prod_desc[i].text)
        except:
            description.append("")
        pricetag.append(price_tag[i].text)
       
    
    click_next=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    click_next.click()
    time.sleep(5)
#     break

In [61]:
import pandas as pd
data=pd.DataFrame({})
data['brand_prod']=brand[:100]
data['prod_desc']=description[:100]
data['price_tag']=pricetag[:100]
data['discount_perc']=discount[:100]
data

,brand_prod,prod_desc,price_tag,discount_perc
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,73% off
1,HAMIW COLLECTION,"UV Protection Wayfarer, Sports, Shield, Rectan...",₹197,86% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
...,...,...,...,...
95,ROYAL SON,UV Protection Butterfly Sunglasses (62),₹664,20% off
96,Ray-Ban,Mirrored Aviator Sunglasses (Free Size),"₹7,832",55% off
97,ROYAL SON,UV Protection Wrap-around Sunglasses (Free Size),₹664,5% off
98,Fastrack,"Mirrored, UV Protection Round Sunglasses (Free...","₹2,184",79% off
99,ZOSTAL,Polarized Round Sunglasses (49),₹207,72% off

In [217]:
# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
# go the link

driver=webdriver.Chrome("chromedriver.exe")

url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)
all_reviews = driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a')
link = all_reviews.get_attribute('href')

driver.get(link)
time.sleep(1)

full_rating=[]
summary=[]
review=[]

    
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
Review_summary
Full_review=driver.find_elements_by_xpath('//div[@class=""]')
Full_review
    
for i in range(10):
    
    full_rating.append(rating[i].text)
    summary.append(Review_summary[i].text)
    review.append(Full_review[i].text)
full_rating
summary
review

click_next=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
click_next.click()

In [218]:
import pandas as pd
data=pd.DataFrame({})
data['rating']=full_rating[:10]
data['Review_summary']=summary[:10]
data['Full_review']=review[:10]
data

,rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
6,4,Good choice,So far it’s been an AMAZING experience coming ...
7,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
8,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
9,5,Best in the market!,Great iPhone very snappy experience as apple k...

In [222]:
# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
# search for “sneakers” in the search field.

driver=webdriver.Chrome("chromedriver.exe")
url='https://www.flipkart.com/'
driver.get(url)
time.sleep(1)

cross_btn=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
cross_btn.click()
search_prod=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_prod.send_keys('sneakers')
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [228]:
Brand=[]
Description=[]
Price=[]
discount=[]
 
for i in range(1,5,1):
    
    brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    brand_tag
    prod_desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    prod_desc
    price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    price_tag
    discount_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    discount_tag
    
    print(len(brand_tag))
    print(len(prod_desc))
    print(len(discount_tag))
    print(len(price_tag))
    
    
    for i in range(len(brand_tag)):
        try:
            brand.append(brand_tag[i].text)
        except:
            brand.append("")
        try:
            Price.append(price_tag[i].text)
        except:
            Price.append("")    
        try:
            Description.append(prod_desc[i].text)
        except:
            Description.append("")
        try:
            discount.append(discount_tag[i].text)
        except:
            discount.append("")
        
            
    next_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_btn.click()        
    time.sleep(5)

40
28
40
40
40
32
40
40
40
32
40
40
40
32
40
40

In [229]:
import pandas as pd
data=pd.DataFrame({})
data['brand_tag']= brand[:100]
data['prod_desc']= Description[:100]
data['price_tag']= Price[:100]
data['discount_tag']= discount[:100]
data

,brand_tag,prod_desc,price_tag,discount_tag
0,Wrogn,Reposto Sneakers For Men,"₹4,892",28% off
1,HAMIW COLLECTION,Fashionable casual sneaker sports shoes Sneake...,₹649,35% off
2,Elligator,Fashion Outdoor Canvas Casual Light Weight Par...,₹474,76% off
3,Fastrack,Casual Sneakers Shoes For Men Sneakers For Men...,₹389,80% off
4,PIRASO,Gym/Walking/Running Sneakers For Men,₹379,62% off
...,...,...,...,...
95,Silver Kartz,SM-665 Sneakers For Men,₹269,73% off
96,GANSTA,Future Rider INTL Game Sneakers For Men,"₹2,321",38% off
97,POLICE,Fashion Outdoor Canvas Casual Light Weight Par...,₹297,70% off
98,Bedst,Fila Men Red TERBAX Sports Shoes Sneakers For Men,"₹1,809",54% off
99,GANSTA,Vs Pace Sneakers For Men,₹474,52% off